<% provide(:title, 'All Users') %>
<h1>全てのユーザー</h1>

<div class="pull-right">
  <div class="search-form">
    <%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %>
      <%= f.label(:name, "ユーザー名検索") %>
      <br/>
      <%= f.text_field :name, value: @search_params[:name] %>
      <%= f.submit :search, value: "検索", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user %>
          ｜
          <%= link_to "基本情報編集", edit_basic_info_user_path(user) %>
          <% if current_user.admin? && !current_user?(user) %>
            ｜
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>
